<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* table{
            border-collapse: collapse;
        } */
        table,tr,td{
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script src="genre.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <input type="text" ng-model="searchname" placeholder="name">
    <input type="text" ng-model="searchgenre" placeholder="genre">
    <table>
        <tr>
            <td>Name</td>
            <td>Genre</td>
            <td>Release</td>
        </tr>
        <tr ng-repeat="movie in movies | filter:{name:searchname} | filter:{genre:searchgenre} | orderBy:'release'">
            <td>{{movie.name}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.release}}</td>
        </tr>
    </table>
</body>
</html>